/* latin-ext */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-display: swap;
    src: url(/fonts/robotoslab-latinext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-display: swap;
    src: url(/fonts/robotoslab-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext-bold */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: url(robotoslab-bold-latinext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin-bold */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: url(robotoslab-bold-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-display: swap;
    src: url(/fonts/jbmono-latinext-italic.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-display: swap;
    src: url(/fonts/jbmono-latin-italic.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-display: swap;
    src: url(/fonts/jbmono-latinext-normal.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-display: swap;
    src: url(/fonts/jbmono-latin-normal.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --fg: #e6e6e6;
    --fgmid: #aaa;
    --fgdark: #444;
    --bg: #111;
    --bglight: #191919;
    --polar1: #ff6a76;
    --polar2: #b1ff62;
}

blockquote {
    color: var(--fgmid);
    font-style: italic;
    border-left: 0.3em solid var(--fgdark);
    margin: 0;
    padding-left: 1em;
}

li {
    list-style-type: circle;
    margin-bottom: 0.3em;
}

hr {
    background-color: var(--fgdark);
    height: 1px;
    border: 0;
}

h1 {
    line-height: 1em;
    margin-top: 1em;
    text-align: center;
}

h3 {
    margin-left: 1em;
}

p, li {
    line-height: 1.5em;
    text-align: justify;
    text-justify: inter-word;
}

body {
    margin: 0 auto 2em auto;
    max-width: 60em;
    font-family: "Roboto Slab", sans-serif;
    color: var(--fg);
    padding: 0 5vw;
    background: var(--bg) url("/bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

#top {
    position: absolute;
    top: 0;
}

.title-header-outer {
    text-align: center;
    margin: 2em 0 0;
}

.title-header-inner {
    display: inline-block;
}

.title-header-inner p,
.title-header-inner h1 {
    margin: 0;
}

.title-header-inner p {
    text-align: right;
}

pre {
    padding: 0.8em;
    border-radius: 0.5em;
    overflow-x: auto;
    scrollbar-width: thin;
    line-height: 1.2em;
}

pre::-webkit-scrollbar {
    background: transparent;
    height: 0.4em;
}

pre::-webkit-scrollbar-thumb {
    background: var(--fgdark);
    border-radius: 0.2em;
}

pre::-webkit-scrollbar-thumb:hover {
    background: var(--polar2);
}

pre::-webkit-scrollbar-thumb:active {
    background: var(--polar1);
}

code {
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    letter-spacing: -1px;
    background-color: var(--bglight);
    padding: 0 0.3em;
    border-radius: 0.4em;
}

pre code {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}

.footer {
    display: block;
    text-align: center;
}

a:link,
a:active,
a:visited {
    color: var(--polar1);
    text-decoration: none;
}

a:hover {
    color: var(--polar2);
    text-decoration: none;
}

table {
    border-collapse: collapse;
    margin: 1em auto;
}

thead {
    text-align: center;
}

td {
    border: 1px solid var(--fgdark);
    padding: 0.3em;
}

table.etbl td {
    border: none;
}

figure {
    display: table;
    margin: 1em auto;
    max-width: 35em;
}

figure>img {
    max-width: 100%;
    border-radius: 0.5em;
}

pre, figure>img {
    box-shadow: 0.1em 0.1em 0.8em black;
}

figcaption {
    text-align: right;
    font-size: 14px;
    font-style: italic;
    color: var(--fgmid);
}

figcaption>a:link,
figcaption>a:active,
figcaption>a:visited {
    color: var(--fgmid);
}

figcaption>a:hover {
    color: var(--fg);
}