/* latin-ext */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/jetbrainsmono/v11/tDbp2o-flEEny0FZhsfKu5WU4xD-IQ-PuZJJXxfpAO-LfjGbsVNLG7DGdF6OZ1PszgMgo-8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/jetbrainsmono/v11/tDbp2o-flEEny0FZhsfKu5WU4xD-IQ-PuZJJXxfpAO-LfjGbsVNLG7DGdF6OZ1PswAMg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/jetbrainsmono/v11/tDbp2o-flEEny0FZhsfKu5WU4xD-IQ-PuZJJXxfpAO-LfjGbsVNLG7DGdF6OZ1PszgMgo-8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/jetbrainsmono/v11/tDbp2o-flEEny0FZhsfKu5WU4xD-IQ-PuZJJXxfpAO-LfjGbsVNLG7DGdF6OZ1PswAMg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/jetbrainsmono/v11/tDbv2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKwBNntkaToggR7BYRbKPx7cwhsk.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/jetbrainsmono/v11/tDbv2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKwBNntkaToggR7BYRbKPxDcwg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/jetbrainsmono/v11/tDbv2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKwBNntkaToggR7BYRbKPx7cwhsk.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/jetbrainsmono/v11/tDbv2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKwBNntkaToggR7BYRbKPxDcwg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* misc */

li {
    list-style-type: circle;
    margin-bottom: 0.6em;
    line-height: 1.2em;
}

hr {
    background-color: hsl(0, 0%, 25%);
    height: 2px;
    border: 0;
}

h3 {
    text-indent: 1em;
}

p {
    line-height: 1.3em;
    text-align: justify;
    text-justify: inter-word;
}

body {
    margin: 0 auto 2em auto;
    max-width: 60em;
    font-size: 15px;
    letter-spacing: -0.05em;
    font-family: "JetBrains Mono", monospace;
    color: hsl(0, 0%, 90%);
    padding: 0 5vw;
    background: hsl(0, 0%, 6%) url("/bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* title header */

.title-header-outer {
    text-align: center;
    margin: 2em 0;
}

.title-header-inner {
    display: inline-block;
}

.title-header-inner p,
.title-header-inner h1 {
    margin: 0;
}

.title-header-inner p {
    text-align: right;
}

/* codeblocks */

pre {
    font-size: 0.9em;
    padding: 1em;
    border-radius: 0.5em;
    overflow-x: auto;
    scrollbar-width: thin;
}

pre::-webkit-scrollbar {
    background: transparent;
    height: 0.5em;
}

pre::-webkit-scrollbar-thumb {
    background: #6e7073;
    border-radius: 0.3em;
}

pre::-webkit-scrollbar-thumb:hover {
    background: #b1ff62;
}

pre::-webkit-scrollbar-thumb:active {
    background: #ff7d6a;
}

code {
    font-family: "JetBrains Mono", monospace;
}

/* footer */

.footer {
    display: block;
    text-align: center;
}

/* links */

a:link,
a:active,
a:visited {
    color: #ff7d6a;
    text-decoration: none;
}

a:hover {
    color: #b1ff62;
    text-decoration: none;
}

/* tables */

table {
    border-collapse: collapse;
}

thead {
    text-align: center;
}

td {
    border: 1px solid white;
    padding: 0.4em;
}

/* images */

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 30em;
}

figure>img {
    width: inherit;
    border-radius: 0.5em;
}

figcaption {
    text-align: right;
    font-size: 14px;
    font-style: italic;
    color: #777;
}

figcaption>a:link,
figcaption>a:active,
figcaption>a:visited {
    color: #999;
}

figcaption>a:hover {
    color: #ddd;
}
