<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{% if page %}{{ page.title }}{% elif section %}{{ section.title }}{% endif %} ~ lemonsh's website</title>
    <link href="/main.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
</head>

<body>
    <a id="top"></a>
    <div class="title-header-outer">
        <div class="title-header-inner">
            {% if page %}
                <h1>{{ page.title }}</h1>
                {% if page.description %}
                    <p>{{ page.description }}</p>
                {% elif page.date %}
                    <p>{{ page.date }}</p>
                {% endif %}
            {% elif section %}
                <h1>{{ section.title }}</h1>
            {% endif %}
        </div>
    </div>
    <p>/{% for navitem in config.extra.nav %}
        {% if section and section.path == navitem.path %}
            <span style="color: #ccc; text-decoration: underline">{{ navitem.label }}</span>
        {% else %}
            <a href="{{ navitem.path }}">{{ navitem.label }}</a>
        {% endif %}/
    {% endfor %}
    </p>
    <hr>    
    {% block content %} {% endblock %}
    <hr>
    <a href="#top" class="footer">↑ top ↑</a>
</body>

</html>