{% extends "base.html" %}

{% block content %}
<div class="title-header-outer">
    <div class="title-header-inner">
        <h1>{{ section.title }}</h1>
    </div>
</div>
<ul>
    {% for subsection in section.subsections %}
    {% set csection = get_section(path=subsection) %}
    <li>{{ csection.title }}
        <ul>
            {% for cpage in csection.pages %}
            <li><a href="{{ cpage.permalink }}">{{ cpage.title }}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% endblock content %}